h1{
  font: sans-serif;
  color: white;
}

body {
  background-image: url("brushed.jpg");
  font: normal medium/1.4 sans-serif;
  color:white;
}
table {
  background: #e1e1e1;
  border-radius:5px;
  width: 90%;
  opacity: 0.90;
  text-align: left;
  padding: 0.25rem;
  color:black;
  box-shadow: 1px 1px 1px #999;
}

th {
  background-color: #6999ff;
  font-size: 100%;
  border: 0.1px solid #ccc;
}

td {
   font-size: 90%;
   border: 0.1px solid #ccc;
}
th:hover {
  background: #9dbbff;
}
tr:hover {
  background: lightblue;
}

input {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #6999ff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
}

input:hover { background: #c1d5ff;
}

img {
  /* maximum width and background */
    width:500px;
    background:white;
    opacity:0.8;
}

.txt {
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow:
    inset 0 2px 0 rgba(0,0,0,.2),
    0 0 4px rgba(0,0,0,0.1);
}

.txt:focus {
  outline: none;
  box-shadow:
    inset 0 2px 0 rgba(0,0,0,.2),
    0 0 4px rgba(0,0,0,0.1),
    0 0 5px 1px #51CBEE;
}

.to-top {
  position : fixed;
  bottom : 20px;
  right : 5px;
}